
/* slider 3 images slider 3 images slider 3 images slider 3 images */
.slidercontainer{
    width: 80vw;
    height: auto;
    margin-top: 10%;
   
    margin-left: auto;
    margin-right: auto;
   
    position: relative;
    display: flex;
}
.button{
    position: absolute;
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.btnimg{
    width: 100%;
}
.btnimg:hover{
    transform: scale(110%);
}
.red{
    width: 10%;
    height: 10%;
   
   

   
}
.green{
    width: 10%;
    height: 10%;
 
  

}
.imgset{
    top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 80%;

}
